@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root {
  /* Light */
  --color-light-50: #f8fafc;

  /* Dark */
  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  /* Blues and green */
  --color-blue-50: #004AAD;
  --color-blue-100: #006AAD;
  --color-green-200: #00AD6F;
  
    /*Variaveis dark*/
--color-newblue-75: #193465;
--color-newblue-60: #25476d;
--color-newblue-55: #275c79;
--color-newgreen-65: #286469;
--color-newgreen-75: #184e52;
--color-newgreen-100: #143944;

--color-newgradiente: linear-gradient(
  90deg,
  var(--color-newblue-60),
  var(--color-newblue-55),
  var(--color-newgreen-65),

);
}


body{
    font-family: "Poppins", sans-serif;
}

h3{
    text-align: center;
    margin-top: 20px;
}

h1{
  margin-top: 20px;
}

nav a:hover{
  text-decoration: none;
}

th{
  color: var(--color-green-200);
}

.thead th{
  color: var(--color-blue-100);
}
