@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');


:root {
  /* Light */
  --color-light-50: #f8fafc;

  /* Dark */
  --color-dark-50: #797984;
  --color-dark-100: #312d37;
  --color-dark-900: #000;

  /* Blues and green */
  --color-blue-50: #004AAD;
  --color-blue-100: #006AAD;
  --color-green-200: #00AD6F;
  
    /*Variaveis dark*/
--color-newblue-75: #193465;
--color-newblue-60: #25476d;
--color-newblue-55: #275c79;
--color-newgreen-65: #286469;
--color-newgreen-75: #184e52;
--color-newgreen-100: #143944;

--color-newgradiente: linear-gradient(
  90deg,
  var(--color-newblue-60),
  var(--color-newblue-55),
  var(--color-newgreen-65),

);
}


* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  
  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--color-dark-50);
  }
  
  h2{
    margin-left: 50px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--color-green-200);
  
  }

  .msg_boasvindas{
    text-align: center;
    font-size: 30px;
    color: var(--color-green-200);
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  /*Navbar*/
  nav {
    background: var(--color-blue-100);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }
  
 
  
  .logo {
    width: 180px;
    height: 170px;
    position: absolute;
    top: -40px;
    left: 45px;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  
  }
  
  nav ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
  }
  
 nav a:hover {
    color: #99d8ff;
    background-color: #004e80;
    transition: 0.5s;
    text-decoration: none;
  }
  /*Navbar*/


.content ul {
  padding-left: 190px;
  margin-left: 150px;
}

.content p{
  text-align: center;
    display: flex;
    font-size: 15px;
    margin-top: 20px;
}

.content li{
  margin-top: 30px;
}

strong{
  color: var(--color-blue-50);
  font-size: 20px;
}

.content h2{
  color: var(--color-green-200);
  text-align: center;
}

/*Carrossel*/
.carousel-container {
  width: 99vw;
  margin: 0 auto;
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.5s;
}

.content {
  width: 100%;
  height: 80vh;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

button {
    margin-top: 10px;
    cursor: pointer;
    background-color: transparent;
    color: #007BFF; 
    padding: 10px 20px;
    border: 2px solid #007BFF; 
    border-radius: 5px; 
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #007BFF;
    color: #fff; 
  }
  #nextButton {
    position: absolute;
    right: -100px; 
    /* bottom: 20px;  */
}
  
.btn2{
  
  margin-right: 100px;
}

.info{
  margin-left: 50px;
}

.container_informa{
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px var(--color-dark-100);
  padding: 20px 60px 60px 40px;
  border-radius: 10px;
}

.info_row {
  display: flex;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 15px;
  padding: 10px;
  padding-bottom: 5px;
  border-radius: 10px ;
  color: white;
  background-color: var(--color-blue-100);
}
.info_row p{
 margin-left: 10px; 
 margin-top: 2px;
 font-size: 18px;
}


button:hover {
  background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}
/*Carrossel*/

/*responsividade*/
/* Adicione regras de mídia para tornar o carrossel responsivo */
@media (max-width: 1200px){
  .carousel-container {
    width: 100%;
}

nav ul li{
  display: none;
}

footer{
  display: none;
}

.container_informa{
  margin-top: 100px;
  margin-bottom: 100px;
}
}

@media (max-width: 768px) {
  .carousel-container {
      width: 100%;
  }

  nav ul li{
    display: none;
  }

  footer{
    display: none;
  }

  .container_informa{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}



@media (max-width: 480px) {
  .carousel-container {
      width: 100%;
  }
  .slide {
      flex: 0 0 100%;
  }
  footer{
    display: none;
  }
  .service-list{
    scale: 0.8;
  }

  nav ul li{
    display: none;
  }
}
/*responsividade*/

footer {
  background: var(--color-blue-100);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}